.header {

    position: fixed;
    background: #fff;
    width: 100%;

    &__wrapper {
        display: flex;
        align-items: center;
    }


    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

    }

    .logo {
        max-width: 200px;
        height: 30px;
        display: flex;
        align-items: center;
    }

    &__desktop {
        padding: 20px 0px;
        z-index: 1;
        position: unset;
        opacity: 1;

        &.disabled {
            position: absolute;
            z-index: -2;
            opacity: 0;
        }
    }

    &__mobile {
        padding: 20px 0px;
        display: none;

    }


    &__box {
        border: 2px solid #F2F2F2;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 11px;
        height: 50px;
        cursor: pointer;
        position: relative;
        transition: all 0.5s;

        &:hover {
            background: #1577ca;
            transition: all 0.5s;

            svg {
                stroke: #fff;
                transition: all 0.5s;
            }
        }


        svg {
            width: 26px;
            height: 26px;
            stroke: #1577CA;
            fill: transparent;
        }

        span {
            position: absolute;
            border-radius: 50%;
            background: gray;
            color: #fff;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            right: -10px;
            top: -6px;
            z-index: 2;
        }
    }

    &__box+&__box {
        margin-left: 15px;
    }

    .header__tel {
        display: block;
        max-width: 187px;
        width: 100%;
        margin-left: 20px;
        margin-right: 30px;
        color: black;
        transition: all 0.5s;
        font-size: 20px;
        @extend %M-700;

        &:hover {
            color: #1577ca;
            transition: all 0.5s;
        }
    }

    nav {
        position: absolute;
        bottom: -20px;
        opacity: 0;
        transform: translateY(40px);
        transition: none;
        z-index: -1;
        border: 1px solid #F2F2F2;
        border-radius: 6px;

        &.active {
            animation: showNav 0.6s ease forwards;
            position: relative;
            z-index: 2;
            padding: 25px 30px 40px 30px;
        }

        .nav__title {
            padding: 25px 0 20px 0;
            font-size: 22px;
            color: #040810;
            position: relative;
            margin-left: 12px;
            display: flex;
            align-items: center;
            font-size: 22px;
            @extend %M-700;

            &::before {
                content: '';
                position: absolute;
                width: 4px;
                height: 24px;
                background: #1577CA;
                left: -12px;
            }

        }

        .nav__wrapper {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #F2F2F2;
            gap: 50px;
            padding-top: 20px;
        }

        .menu {
            display: flex;
            flex-direction: column;
            gap: 15px 0;
            max-width: 333px;
        }

        .menu__item-link {
            color: #505050;
            font-size: 15px;
            transition: all 0.5s;
            line-height: 1.3em;
            @extend %M-200;

            &:hover {
                color: #1577CA;
                transition: all 0.5s;
            }
        }
    }


    @keyframes showNav {
        0% {
            opacity: 0;
            transform: translateY(40px);
        }

        60% {
            opacity: 1;
            transform: translateY(-5px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__box-detals {
        position: absolute;
        z-index: -1;
        opacity: 0;

    }

    .header__languages {
        display: flex;
        gap: 8px;
    }

    .languages__link {
        color: #040810;
        font-size: 17px;
        @extend %M-400;
        transition: all 0.5s;
    }

    .languages__link.active {
        color: #1577CA;
        font-size: 17px;
        @extend %M-700;
        transition: all 0.5s;
    }


}


.burger {
    background: #1577CA;
    color: #fff;
    display: flex;
    padding: 13px 16px;
    border-radius: 6px;
    cursor: pointer;
    width: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: 32px;
    transition: all 0.5s;



    &.active {
        background: transparent;
        border: 1px solid #1577CA;
        color: #1577CA;
        transition: all 0.5s;

        span {
            display: none;
        }

        .burger__box::before {
            background: #1577CA;
            transform: rotate(136deg);
            top: 9px;
            transition: all 0.5s;
        }

        .burger__box::after {
            background: #1577CA;
            bottom: 13px;
            transform: rotate(45deg);
            transition: all 0.5s;
        }

    }

    &__content {
        @extend %M-600;
        font-size: 14px;
    }

    &__box {
        position: relative;
        margin-right: 20px;
        height: 24px;

        &::before {
            content: '';
            display: block;
            height: 2px;
            width: 20px;
            background: #fff;
            position: absolute;
            top: 4px;
            transition: all 0.5s;
        }


        &::after {
            content: '';
            position: absolute;
            display: block;
            height: 2px;
            width: 20px;
            background: #fff;
            bottom: 4px;
            transition: all 0.5s;
        }

    }

    span {
        display: block;
        height: 2px;
        width: 20px;
        background: #fff;
        position: absolute;
        top: 11px;
        transition: all 0.5s;
    }
}



.search {
    max-width: 400px;
    width: 100%;
    height: 50px;
    border: 1px solid #F2F2F2;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 15px;
    color: #040810;
    @extend %MO-600;
    font-size: 14px;

    &__svg {
        fill: transparent;
        stroke: #040810;
        width: 24px;
        height: 24px;
    }

    &__input {
        width: 100%;
        padding-left: 24px;
        outline: none;
        box-shadow: none;
    }

    &__input::placeholder {
        @extend %M-400;
        font-size: 14px;
        color: gray;
    }

    &__btn {
        display: flex;
        flex: 0 0 132px;
        gap: 6px;
        align-items: center;
        justify-content: center;
        color: #040810;
        @extend %MO-600;
        font-size: 14px;

        &:hover {
            transition: all 0.5s;
            background: #1577ca;
            color: #fff;

            svg {
                transition: all 0.5s;
                stroke: #fff;
            }
        }
    }
}



.burger-mobile {
    display: none;

    &.active {
        display: block;
        position: relative;
        background: #fff;
        z-index: 10;
        height: 100vh;
    }


    &__link {
        @extend %M-700;
    }

    &__one-items {
        padding: 20px;
        border-bottom: 1px solid var(--delider, #f2f2f2);
    }

    &__one-item {
        padding: 10px;
    }

    &__one-link {
        font-size: 15px;
        @extend %M-400;
        color: rgba(80, 80, 80, 1);
        transition: all 0.5s;

        &:hover {
            color: #1577ca;
            transition: all 0.5s;
        }
    }

    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 40px 0;
    }

    &__social-image {
        width: 40px;
        height: 40px;
    }
}







@media(max-width:1450px) {


    .header {
        .logo {
            max-width: 200px;
            height: 30px;


        }

        .header__tel {
            font-size: 16px;
            max-width: 150px;
        }

    }




    .burger {
        padding: 10px;
        width: 40px;
        height: 40px;

        &__content {
            display: none;
        }

        &.active {
            padding: 11px;

            .burger__box::before {
                top: 10px;
                left: -1px;
            }

            .burger__box::after {
                bottom: 12px;
                left: -2px;
            }
        }

    }

    .search {
        &__btn {
            flex: 0 0 100px;
        }

    }
}


@media(max-width:1100px) {
    .search {
        &__btn {
            flex: 0 0 50px;
        }

        span {
            display: none;
        }

    }

}


@media(max-width:1000px) {
    .header {

        &__mobile {
            display: flex;
            position: unset;
            opacity: 1;

            &.disabled {
                position: absolute;
                z-index: -2;
                opacity: 0;

            }
        }

        &__desktop {
            display: none;
        }

        &__box+&__box {
            margin-left: 0;
        }

        &__wrapper {
            width: 100%;
            justify-content: space-between;
        }

        &__detals {
            display: flex;
            gap: 6px;
        }

        &__search-btn {
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: transparent;
            border: 2px solid #f2f2f2;

            .search__svg {
                stroke: #1577ca;
            }
        }

        .logo {
            margin: 0px 20px;
            min-width: 130px;

            img {
                width: 100%;
            }
        }

        &__box-detals {
            &.active {
                animation: showNav 0.6s ease forwards;
                display: flex;
                justify-content: center;
                position: relative;
                z-index: 2;
                padding: 30px 0px;
                padding-top: 0;
                opacity: 1;
            }
        }

        &__box {
            width: 40px;
            height: 40px;
            padding: 6px;
        }

        .header__tel {
            margin: 0px;
        }

    }

    .burger {
        margin-left: 0;
        background: transparent;
        border: 2px solid #f2f2f2;

        span {
            background: #1577ca;
        }

        .burger__box::before {
            background: #1577ca;

        }

        .burger__box::after {
            background: #1577ca;

        }
    }

    .search {
        &__btn {
            background: transparent;
        }
    }


    .burger-mobile {
        &__box {
            padding: 16px 10px 16px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid var(--delider, rgba(242, 242, 242, 1));
        }

        &__title {
            font-size: 22px;
            color: #040810;
            position: relative;
            margin-left: 12px;
            display: flex;
            align-items: center;
            font-size: 22px;


            &::before {
                content: '';
                position: absolute;
                width: 4px;
                height: 24px;
                background: #1577CA;
                left: -12px;
            }

        }

        &__image-clouse {
            width: 30px;
            height: 30px;
            cursor: pointer;
        }

        &__content:first-child {
            border-top: none;
        }

        &__content {
            padding: 10px 0;
            margin: 0 0px 0px 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid var(--delider, rgba(242, 242, 242, 1));
            border-left: none;
            padding-right: 12px;
            border-right: none;
        }

        &__content {
            cursor: pointer;
            transition: all 0.5s;

            &:hover a {
                color: #1577CA;
                transition: all 0.5s;
            }


        }

        &__arrow {
            transition: all 0.5s;
        }

        &__arrow.active {
            transform: rotate(90deg);
            transition: all 0.5s;
        }

        &__link {
            color: black;
            font-size: 17px;
            @extend %M-700;

        }

        &__one-items {
            position: absolute;
            z-index: -1;
            opacity: 0;
            transition: all 0.5s;
        }

        &__one-items.active {
            position: unset;
            z-index: 1;
            opacity: 1;
            animation: showNav 0.6s ease forwards;
        }

        &__wrapper {
            display: flex;
            justify-content: space-between;
            padding: 30px 0;
        }

        .container {
            padding: 0 10px;
        }

    }
}



@media(max-width:668px) {
    .header {
        .container {
            padding: 0 10px;
        }

        &__mobile {
            padding: 10px 0;
        }

    }

    .search {
        max-width: 100%;
        margin: 0px 10px;
    }



}